* {
    margin: 0;
    padding: 0;
  }
body {
    background-color: rgb(100, 100, 100);
}
.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(49, 49, 49);
    color: rgb(233, 233, 233);
    align-items: center;
    justify-content: start;
    width: 200px;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
}
.sideBarImg {
    height: 60px;
    margin: 20;
}
.sideBarImg:hover {
    transform: rotate(180deg);
}
.navBar {
    display: inline-flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.navTab {
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 20px;
}
.navTab:hover, .active {
    background-color: #0f741f;
    color: black;
}
.navSubTab {
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 20px; 
}
.navSubTab:hover {
    color:rgba(255, 255, 255, 0.616);
}
h1 {
    padding: 10 0 5 0;
}

.dropdown {
    display: none;
}

.dropdown.visible {
    display: inline;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: rgb(233, 233, 233);
}
.content {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("./turtle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 20%;
    z-index: -3;
}
.bar {
    width: calc(100% - 20%);
    height: 5px;
    background-color: #0f741f;
    margin-bottom: 40px;
}